---
import type { CollectionEntry } from "astro:content";
import PostMetadata from "@components/PostMetadata.astro";
const { post } = Astro.props;

interface Props {
  post: CollectionEntry<"posts">;
}
---

<div class="post" id={post.slug}>
  <h2 transition:name={post.data.title}>{post.data.title}</h2>
  <p>{post.data.description}</p>

  <PostMetadata entry={post} />
</div>

<script>
  const posts = document.querySelectorAll(".post");
  posts.forEach((post) => {
    post.addEventListener("click", () => {
      window.location.href = `/posts/${post.id}`;
    });
  });
</script>

<style>
  .post {
    height: 100%;
    box-sizing: border-box;
    padding: 2em;
    border: 3px solid #1f1f1f;
    transition: border 0.2s;
    border-radius: var(--radius);
    transition:
      background-color 0.2s,
      border-color 0.2s;
    cursor: pointer;
  }

  .post:hover {
    background-color: #1f1f1f;
    border-color: white;
  }

  .post > * {
    margin: 0;
  }

  .post > h2 + p {
    margin-bottom: 2em;
  }
</style>
